.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.persona {
  width: 48%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.persona img {
  width: 160px;
  height: 160px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}
  
  button {
    margin-top: 10px;
  }
  